@media only screen and (max-width: 820px) {
  .cardInfo {
    width: 100%;
  }
}
@media only screen and (max-width: 375px) {
  .searchInput {
    width: 90%;
  }
  #details {
    width: 90%;
  }
  .cardInfo{
      padding: 5px;
      .text{
          font-size: 20px;
      }
      .flavor{
          font-size: 16px;
      }
      h2{
          font-size: 30px;
      }
      .infoLine{
          font-size: 18px;
      }
  }
}
