* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  background-color: #2f3542;
  color: white;
  padding-bottom: 50px;
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #20252e;
  margin: 15px;
  width: 300px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card.animateJumpIn {
  -webkit-animation: resultJumpIn 0.5s;
          animation: resultJumpIn 0.5s;
}

.card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card img {
  margin-top: 10px;
  cursor: pointer;
  width: 90%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.card p {
  font-style: italic;
  color: #434954;
  position: absolute;
  top: 0;
  right: 5%;
}

.card h2 {
  margin-top: 15px;
}

.cardImg {
  height: 50%;
}

.cardInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 800px;
  margin: auto;
  padding: 35px;
  padding-top: 5px;
  margin-top: 20px;
  background-color: #20252e;
  position: relative;
}

.cardInfo p {
  text-align: center;
}

.cardInfo .text {
  font-size: 24px;
  margin-top: 0;
}

.cardInfo .flavor {
  font-style: italic;
}

.cardInfo h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 0;
}

.cardInfo .id {
  font-style: italic;
  color: #434954;
  position: absolute;
  top: 0;
  right: 5%;
}

.cardInfo img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 90%;
}

.cardInfo .infoLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
  margin-top: 5px;
  font-size: 22px;
}

.cardInfo .infoLine .title {
  font-weight: bold;
}

.cardInfo .infoLine .info {
  padding-left: 5px;
}

#backButton {
  position: absolute;
  left: 2%;
  top: 1%;
  width: 10%;
  cursor: pointer;
}

#searchForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-bottom: 20px;
}

#searchForm .searchInput {
  width: 350px;
  margin: auto;
  font-size: 22px;
  padding: 5px 10px;
  background-color: #20252e;
  border: 0;
  border-radius: 5px;
  color: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(79, 75, 79, 0.5);
          box-shadow: 0px 0px 5px 0px rgba(79, 75, 79, 0.5);
}

#searchForm .searchButton {
  background-color: #20252e;
  color: white;
  border: 0;
  padding: 15px 25px;
  font-size: 18px;
  margin: auto;
  margin-top: 10px;
  cursor: pointer;
}

#searchForm #details {
  margin: auto;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
}

#searchForm #details .dynamicSelect {
  margin-left: 0;
  margin-top: 5px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#searchForm #details .dynamicSelect select {
  min-width: 70%;
  background-color: #20252e;
  border: 0;
  border-radius: 2.5px;
  color: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(79, 75, 79, 0.5);
          box-shadow: 0px 0px 5px 0px rgba(79, 75, 79, 0.5);
  font-size: 16px;
}

#background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pagination {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination .page {
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
}

.pagination .page.selected {
  color: red;
}

.lds-dual-ring {
  display: block;
  width: 80px;
  height: 80px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes resultJumpIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 1;
  }
  70% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  85% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes resultJumpIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 1;
  }
  70% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  85% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media only screen and (max-width: 820px) {
  .cardInfo {
    width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  .searchInput {
    width: 90%;
  }
  #details {
    width: 90%;
  }
  .cardInfo {
    padding: 5px;
  }
  .cardInfo .text {
    font-size: 20px;
  }
  .cardInfo .flavor {
    font-size: 16px;
  }
  .cardInfo h2 {
    font-size: 30px;
  }
  .cardInfo .infoLine {
    font-size: 18px;
  }
}
/*# sourceMappingURL=main.css.map */