* {
  // margin: 0;
  // padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  background-color: #2f3542;
  color: white;
  padding-bottom: 50px;
}
.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #20252e;
  margin: 15px;
  width: 300px;
  position: relative;
  transition: all 0.3s ease-in-out;
  &.animateJumpIn {
    animation: resultJumpIn 0.5s;
  }
  &:hover {
    transform: scale(1.1);
  }
  img {
    margin-top: 10px;
    cursor: pointer;
    width: 90%;
    user-select: none;
  }
  p {
    font-style: italic;
    color: #434954;
    position: absolute;
    top: 0;
    right: 5%;
  }
  h2 {
    margin-top: 15px;
  }
}
.cardImg {
  height: 50%;
}
.cardInfo {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: auto;
  padding: 35px;
  padding-top: 5px;
  margin-top: 20px;
  background-color: #20252e;
  position: relative;
  p {
    text-align: center;
  }
  .text {
    font-size: 24px;
    margin-top: 0;
  }
  .flavor {
    font-style: italic;
  }
  h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 0;
  }
  .id {
    font-style: italic;
    color: #434954;
    position: absolute;
    top: 0;
    right: 5%;
  }
  img {
    align-self: center;
    max-width: 90%;
  }
  .infoLine {
    display: flex;
    margin-left: 0;
    margin-top: 5px;
    font-size: 22px;
    .title {
      font-weight: bold;
    }
    .info {
      padding-left: 5px;
    }
  }
}
#backButton {
  position: absolute;
  left: 2%;
  top: 1%;
  width: 10%;
  cursor: pointer;
}
#searchForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 20px;
  .searchInput {
    width: 350px;
    margin: auto;
    font-size: 22px;
    padding: 5px 10px;
    background-color: #20252e;
    border: 0;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 0px 5px 0px rgba(79, 75, 79, 0.5);
  }
  .searchButton {
    background-color: #20252e;
    color: white;
    border: 0;
    padding: 15px 25px;
    font-size: 18px;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
  }
  #details {
    margin: auto;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    width: 350px;

    .dynamicSelect {
      margin-left: 0;
      margin-top: 5px;
      font-size: 16px;
      display: flex;
      select {
        min-width: 70%;
        background-color: #20252e;
        border: 0;
        border-radius: 2.5px;
        color: white;
        box-shadow: 0px 0px 5px 0px rgba(79, 75, 79, 0.5);
        font-size: 16px;
      }
      justify-content: space-between;
    }
  }
}
#background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: -1;
  user-select: none;
}

.pagination {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .page {
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    &.selected {
      color: red;
    }
  }
}

.lds-dual-ring {
  display: block;
  width: 80px;
  height: 80px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes resultJumpIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
  }
  70% {
    transform: scale(1.05);
  }
  85% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}
@import "./mobile";
