* {
  // margin: 0;
  // padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // background-color: gray;
  margin: 10px;
  cursor: pointer;
  width: 300px;
  img{
    width: 90%;
  }
}
.cardImg {
  height: 50%;
}
.cardInfo {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: auto;
  padding: 20px;
  h2,p{
      text-align: center;
  }
  img {
    align-self: center;
  }
}
#searchForm{
  display: flex;
  flex-direction: column;
  margin: auto;
  .searchInput{
    width: 300px;
    margin: auto;
    font-size: 22px;
    padding: 5px 10px;
  }
  .searchButton{
    background-color: #20252e;
    color: white;
    border: 0;
    padding: 15px 25px;
    font-size: 18px;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
  }
}
@import "./mobile";
